body
{
    /*min-width: 1280px;*/
    width: 1280px;
    margin: 0 auto;
    /*font-family: "SimHei";*/

    background-color: #aaa;
}


/* common header 部分*/

.common-header
{
    position: relative;

    width: 100%;
    height: 56px;

    background: #2189bf;
}

.common-header .logo
{
    float: left;

    width: 36px;
    height: 36px;
    margin-top: 10px;
    margin-left: 50px;

    background: url(../img/logo.png) no-repeat center;
}

.common-header .login-wrap
{
    position: relative;

    float: right;

    margin-top: 14px;
    margin-right: 95px;
}

.common-header .search
{
    position: relative;

    display: inline-block;
}

.common-header .search .search-ico
{
    position: relative;
    left: 35px;
    top: 4px;
    width: 18px;
    height: 18px;
}

.common-header .search .search-inp
{
    font-size: 14px;

    display: inline-block;

    width: 312px;
    height: 28px;

    text-indent: 32px;

    border: none;
    border-radius: 30px;
    outline: none;
}

.common-header .login
{
    display: inline-block;

    height: 18px;
    margin-left: 20px;
    padding-top: 4px;
    padding-left: 20px;

    background: url(../img/login.png) no-repeat left center;
}


/*common aside 部分*/

.common-aside
{
    float: left;

    width: 20%;
    height: 1200px;

    background: #2a2e3d;
}

.common-aside .avator-wrap
{
    position: relative;

    width: 100%;
    height: 150px;
}

.common-aside .avator-wrap .avator
{
    float: left;

    margin-top: 18px;
    margin-left: 45px;
}

.common-aside .avator-wrap .username
{
    font-size: 16px;

    float: left;

    margin-top: 40px;
    margin-left: 20px;

    color: #fff;
}

.common-aside .user-count
{
    height: 28px;
    margin-top: 24px;
    margin-left: 34px;
    /*width: 168px;*/

    text-align: center;
}

.common-aside .user-count .fans-count,
.common-aside .user-count .favor-count
{
    font-size: 12px;

    float: left;

    padding: 0 32px;

    color: #6e8095;
}

.common-aside .user-count .favor-count
{
    border-right: 2px solid #6e8095;
}


/*common aside  menu-list部分*/


/*设置根ul 的默认字体颜色和大小*/

.common-aside .menu-list a
{
    font-size: 12px;

    color: #6e8095;
}


/* 无效
	设置整个menu-list 距离avator 15px
.common-aside  .menu-list {
	margin-top: 15px;
	} */


/*
-------------------------------------------------------
为了达到设计稿中的背景覆盖面 ，不使用ul的margin
而是使用.menu-item 的padinng来增加每一个根list的background覆盖面
下面一些列选择器的设置都是为了下一步方便后端进行循环
----------------------------------------------------------
*/

.common-aside .menu-list .menu-item
{
    /*增加左边的覆盖面*/
    padding-top: 15px;
    /*增大根list之间的间距*/
    padding-bottom: 15px;
    padding-left: 45px;
    /*1.同上2.增加根list的下边的覆盖面*/
}

.common-aside .menu-list .menu-item:hover{
    background-color: #383d4e;
}

.common-aside .menu-list .menu-item:hover > .menu-item-title{
    color: #fff;
    background-position: 0 -16px;
}




/*设置子ul列表的左边距 和上边距*/

.common-aside .menu-list [class*='menu-list-']
{
    margin-top: 20px;
    margin-left: 25px;
}


/*设置 子列表下的li.item 的下边距*/

.common-aside .menu-list [class*='menu-list-'] > li
{
    margin-bottom: 20px;
}


/*设置 最后一个子列表下的最后一个li.item 的下边归零，实现排版目的*/

.common-aside .menu-list [class*='menu-list-']:last-of-type > li:last-of-type
{
    margin-bottom: 0;
}



    /*设置根list.menu-item 的 padding 给图标留下位置*/


.common-aside .menu-list .menu-item .menu-item-title {
    padding-left: 25px;
}


    /*设置子menu-list-* 的padding 给图标留下位置*/

    .common-aside .menu-list [class*='menu-list-'] .menu-item-title
    {
        padding-left: 16px;
    }


/*通过直接后代选择器,设置被'激活' 的根li.menu-item元素的背景高亮显示*/

.common-aside .menu-list>li.active {
    background-color: #383d4e;
}

    /*设置子menu-list-* 下的a.ico-folder的padding 给两个图标留下位置*/

    .common-aside .menu-list [class*='menu-list-'] .ico-folder
    {
        padding-left: 32px;
    }


    /*通过直接后代选择器,设置被'激活' 的根li.menu-item元素的背景高亮显示*/

    .common-aside .menu-list > li.active
    {
        background: #383d4e;
    }
>>>>>>> origin/master


/*--------------------------------------------------------
通过选择器的多重组合 精确定位被标记为.active的子元素.menu-item-title，使其高亮显示
-------------------------------------------------------*/

.common-aside .menu-list .active > .menu-item-title
{
    color: #fff;
    background-position: 0 -16px;
    /*注意这里的两个位置信息，如果没有两个backgroud-image 则默认忽略掉多余的,这个特性可以节省代码*/
}
.common-aside .menu-list .active>.menu-arrow {
    background-position: 0 -16px;
}

/*定义列表项的图标位置 使用css spirit 技术 */

.common-aside .menu-list-2 .menu-arrow{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background: url(../img/aside-folder-arrow-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-report
{
    background: url(../img/aside-report-ico.png) no-repeat 0 -2px;
}

<<<<<<< HEAD

.common-aside .menu-list .ico-file
{
    background: url(../img/aside-file-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-favor
{
    background: url(../img/aside-favor-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-share
{
    background: url(../img/aside-share-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-account
{
    background: url(../img/aside-account-ico.png) no-repeat 0 -2px;
}


/*main 部分*/

.index-main
{
    position: relative;

    float: left;

    width: 80%;
    height: 1200px;

    background: #eee;
}

.index-main .index-nav
{
    width: 100%;
    height: 32px;

    background: #fff;
}

.index-main .index-nav .nav-title
{
    font-size: 12px;
    line-height: 32px;

    margin-left: 30px;

    color: #aaa;
}

.index-main .index-nav .nav-title a
{
    color: #aaa;
}

.index-main .index-nav .nav-title a:hover
{
    color: #d04b37;
}

.index-main .index-nav .nav-title .mark-now
{
    color: #6898c2;
}

.index-main-wrap
{
    width: 890px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}


/*index search info 部分*/

.index-search-info
{
    height: 55px;
    margin-bottom: 10px;
    padding: 15px;

    color: #aaa;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.option-wrap
{
    position: relative;

    float: left;

    margin-right: 30px;
}

.option-wrap select,
.option-wrap input
{
    box-sizing: border-box;
    width: 120px;
    height: 25px;
    margin: 0 15px 5px 15px;

    text-indent: .5em;

    border: 1px solid #ccc;
}

.label-option .short
{
    width: 70px;
}

.ico-replace
{
    position: absolute;
    top: 11px;
    right: -12px;

    width: 28px;
    height: 38px;

    background: url(../img/index-main-replace.png);
}

.index-search-info .btn-search
{
    width: 50px;
    height: 25px;
    margin-top: 12.5px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    background: #2189bf;
}


/*index-search-history 部分*/

.index-search-history
{
    /*width: 100%;
    height: 65px;
    background: transparent;*/
}


/*设置整体模块左浮动*/

.index-search-history .navbar,
.index-search-history .navbar .navbar-item,
.index-search-history .navbar a,
.index-search-history .history-search
{
    float: left;
}


/*设置模块通用属性*/

.index-search-history .navbar a,
.index-search-history .navbar .navbar-item,
.index-search-history .history-search
{
    box-sizing: border-box;
    height: 65px;
    margin-right: 5px;

    text-align: center;

    border-top: 4px solid #fff;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    /*设置这冗余的border-top 用于解决hover状态 文字位置改变问题*/
    background-color: #fff;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-search-history .navbar .active
{
    border-top: 4px solid #4388c9;
}

.navbar .navbar-item:hover
{
    border-top: 4px solid #4388c9;
}


/*单独设置每种模块的宽度*/

.index-search-history .navbar .navbar-item
{
    width: 110px;
}

.index-search-history .navbar [class^='navbar-arrow']
{
    width: 30px;

    border-top: none;
}

.index-search-history .history-search
{
    width: 130px;
    margin-right: 0;
}


/*设置 navbar-item 的样式*/

.navbar .navbar-item h4
{
    font-size: 12px;

    margin-top: 10px;

    color: #323333;
}

.navbar .navbar-item p
{
    font-size: 21px;

    margin-top: 10px;

    color: #ec6500;
}

.navbar .navbar-item p .unit
{
    font-size: 12px;

    color: #ccc;
}

.navbar a.navbar-arrow-l
{
    background: #fff url(../img/index-main-arrow-l.png) no-repeat center;
}

.navbar a.navbar-arrow-r
{
    background: #fff url(../img/index-main-arrow-r.png) no-repeat center;
}

.index-search-history .history-search
{
    line-height: 65px;

    background: #fff url(../img/index-main-history.png) no-repeat 20px 50%;
}

.index-search-history .history-search p
{
    float: left;

    margin-left: 62px;
}


/*index-report-count 部分*/

.index-report-count .count-title
{
    font-size: 12px;

    margin-top: 20px;
    margin-bottom: 10px;
}

.index-report-count .count-item
{
    float: left;

    box-sizing: border-box;
    width: 200px;
    height: 70px;
    margin-right: 30px;

    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-report-count .count-item:nth-of-type(1)
{
    border-left: 4px solid #43b29e;
}

.index-report-count .count-item:nth-of-type(2)
{
    border-left: 4px solid #388ac1;
}

.index-report-count .count-item:nth-of-type(3)
{
    border-left: 4px solid #d04b36;
}

.index-report-count .count-item:nth-of-type(4)
{
    margin-right: 0;

    border-left: 4px solid #e2cd47;
}

.index-report-count .count-item .count-item-title
{
    font-size: 12px;

    margin-top: 20px;
    margin-left: 8px;

    color: #323333;
}

.index-report-count .count-item .count-item-content
{
    font-size: 10px;

    margin-top: 12px;
    margin-left: 8px;

    color: #aaa;
}

.index-report-count .count-item .ico-box
{
    float: right;

    width: 60px;
    height: 42px;
    margin-top: 10px;
    margin-right: 15px;
}

.index-report-count .count-item:nth-of-type(1) .ico-box
{
    background: #43b29e;
}

.index-report-count .count-item:nth-of-type(2) .ico-box
{
    background: #388ac1;
}

.index-report-count .count-item:nth-of-type(3) .ico-box
{
    background: #d04b36;
}

.index-report-count .count-item:nth-of-type(4) .ico-box
{
    background: #e2cd47;
}


<<<<<<< HEAD
.index-project-view {
  float: left;
  box-sizing: border-box;
  width: 530px;
  height: 355px;
  
  margin-top: 15px;
=======
/*index project view 部分*/

.index-project-view
{
    float: left;
    box-sizing: border-box;
    width: 530px;
    height: 355px;
    margin-top: 15px;
>>>>>>> origin/master

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

<<<<<<< HEAD
.index-project-view .project-title{
  height: 40px;
  
  padding-left: 20px;
  
  line-height: 40px;
=======
.index-project-view .project-title,
.index-project-summary .summary-title
{
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
>>>>>>> origin/master

    height: 40px;
    padding-left: 20px;

    color: #aaa;
    background-color: #f4f5f7;
}

.index-project-view .project-content
{
    margin: 42px 20px 0 20px;
}

.project-content .project-nav
{
    margin-top: -30px;
    margin-left: -1px;
}

.project-content .project-nav-tab
{
    line-height: 30px;

    display: inline-block;

    box-sizing: border-box;
    width: 85px;
    height: 30px;
    margin-right: 5px;

    text-align: center;

    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #ededed;
}

.project-content .project-nav .active
{
    background-color: #fff;
}

.project-content .project-nav-tab:hover
{
    background-color: #fff;
}

.project-content .table-wrap
{
    border: 1px solid #ccc;
}


/*displa:table 默认不显示border 所以包裹一个wrap层显示border*/

.project-content .project-table
{
    margin: 30px auto;

    text-align: center;
    /*border: 1px solid #ccc;*/
}

.project-content .project-table tbody
{
    vertical-align: center border: 1px solid #ccc;
}

.project-table tr,
.project-table td
{
    box-sizing: border-box;
    width: 100px;
    height: 30px;

    border: 1px solid #ccc;
}

.project-table td:hover
{
    background-color: #f4f5f6;
}

.project-table .active
{
    background-color: #f4f5f6;
}


/* project summary 部分*/

.index-project-summary{

    float: left;
    box-sizing: border-box;
    width: 335px;
    height: 355px;
    margin-left: 24px;
    margin-top: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}


.index-project-summary .summary-content {
    width: 280px;
    margin:15px auto;
}

.summary-content h4,
.summary-content p{
    text-indent: 15px;
}

.summary-content h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #aaa;
}

.summary-content p {
    margin-bottom: 10px;
    font-weight: bold;
}

.summary-content .title{
    border-bottom: 1px solid #ccc;
}

.summary-content .price-author .price,
.summary-content .price-author .author{
    float: left;
}

.summary-content .price-author {
    border-bottom: 1px solid #ccc;
}
.summary-content .price-author .price{
    border-right: 1px solid #ccc;
    padding-right: 50px;
}
.summary-content .detail{
    height: 150px;
    border-bottom: 1px solid #ccc;
}


.index-project-summary  .keep-secret{
        margin-top: 5px;
}

.keep-secret i{
    margin-left: 5px;
    font-style: normal;
    color: #aaa;
}

.keep-secret button{
    float: right;
    width: 50px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #388ac1;

    cursor: pointer;
}
<<<<<<< HEAD
.project-table .active{
  background-color: #f4f5f6;
}

/* project summary 部分*/

.index-project-summary{

    float: left;
    box-sizing: border-box;
    width: 335px;
    height: 355px;
    margin-left: 24px;
    margin-top: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}


.index-project-summary .summary-title{
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;

    height: 40px;
    padding-left: 20px;

    color: #aaa;
    background-color: #f4f5f7;
}

.index-project-summary .summary-content {
    width: 280px;
    margin:15px auto;
}

.summary-content h4,
.summary-content p{
    text-indent: 15px;
}

.summary-content h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #aaa;
    font-weight: normal;
}

.summary-content p {
    margin-bottom: 10px;
    /*font-weight: bold;*/
}

.summary-content .title{
    border-bottom: 1px solid #ccc;
}

.summary-content .price-author .price,
.summary-content .price-author .author{
    float: left;
}

.summary-content .price-author {
    border-bottom: 1px solid #ccc;
}
.summary-content .price-author .price{
    border-right: 1px solid #ccc;
    padding-right: 50px;
}
.summary-content .detail{
    height: 150px;
    border-bottom: 1px solid #ccc;
}


.index-project-summary  .keep-secret{
        margin-top: 5px;
}

.keep-secret i{
    margin-left: 5px;
    font-style: normal;
    color: #aaa;
}

.keep-secret button{
    float: right;
    width: 50px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #388ac1;

    cursor: pointer;
}

/*index calender 部分*/

.index-calender{
  float: left;
  box-sizing: border-box;
  width: 350px;
  height: 355px;

  margin-top: 15px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-calender .calender-title{
  height: 40px;

  padding-left: 20px;
  
  line-height: 40px;

  font-size: 12px;
  font-weight: normal;
  color: #aaa;

  background-color: #f4f5f7;
}

.index-calender .date-select{
    width: 310px;
    margin:10px auto;
}

.index-calender .date-select select,
.index-calender .date-select button{
    display: inline-block;
    width: 24%;
    height: 20px;
    border: 1px solid #a9a9a9;
}

.index-calender .date-select .btn-today{
  box-sizing: border-box;
  
  outline: none;
  background: #fff;
  cursor: pointer;
}

.index-calender .date-select .btn-today:hover{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /*background: #aaa;*/
}
.index-calender .date-select .btn-today:active{
  border: 1px solid #a9a9a9;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  /*background: #666;*/
}
.index-calender .calender{
  width: 310px;
  margin:10px auto;
}
.index-calender .calender .calender-week{
  border-top: 1px solid #a9cfec;
  border-bottom: 1px solid #ccc;
}

.index-calender .calender th{
  width: 40px;
  height: 30px;
}

.index-calender .calender td{
  width: 40px;
  height: 40px;
  text-align: center;
}
.index-calender .calender th,
.index-calender .calender td{
  box-sizing: border-box;
  /*border: 1px solid #fff;*/
}
.index-calender .calender td h4{
  margin-bottom: 5px;
}

/*.index-calender .calender th:hover,*/
.index-calender .calender td:hover{
  outline: 1px solid #f7d155;
  background-color: #f4f5f7;
}

/* index charts 部分 */

.index-charts{
  float: left;
  box-sizing: border-box;
  width: 530px;
  height: 355px;

  margin-top: 15px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-charts .charts-title{
  height: 40px;

  padding-left: 20px;
  
  line-height: 40px;

  font-size: 12px;
  font-weight: normal;
  color: #aaa;

  background-color: #f4f5f7;
}

.index-charts .charts{
  margin: 12px auto;
  border: 1px solid #ccc ;
  text-align: center;
}

.index-charts .charts th,
.index-charts .charts td{
  height: 25px;
}

.index-charts .charts tr:hover{
  background-color: #f4f5f7;
}
.index-charts .charts .rank,
.charts tbody tr> td:nth-of-type(1){
  width: 70px;
}

.index-charts .charts .brand,
.charts tbody tr> td:nth-of-type(2){
  width: 90px;
}
.index-charts .charts .index-number,
.charts tbody tr> td:nth-of-type(3){
  width: 290px;
  text-align: left;
  text-indent: 30px;
}


.index-charts .charts .range-panel{
  display: inline-block;
  width: 170px;
  background-color: #ccc;
  margin-left: 17px;
}

.index-charts .charts .range-panel,
.index-charts .charts .range{
    height: 5px;
}

.charts tbody tr:nth-of-type(even) .range{
  width: 95%;
  background-color: #ff6666;
}
.charts tbody tr:nth-of-type(odd) .range{
  width: 75%;
  background-color: #33ccff;
}
