body {
    /*min-width: 1280px;*/
    width: 1280px;
    margin: 0 auto;
    /*font-family: "SimHei";*/
    background-color: #aaa;
}


/* common header 部分*/

.common-header {
    position: relative;
    width: 100%;
    height: 56px;
    background: #2189bf;
}

.common-header .logo {
    float: left;
    height: 36px;
    width: 36px;
    margin-left: 50px;
    margin-top: 10px;
    background: url(../img/logo.png) no-repeat center;
}

.common-header .login-wrap {
    position: relative;
    float: right;
    margin-right: 95px;
    margin-top: 14px;
}

.common-header .search {
    position: relative;
    display: inline-block;
}

.common-header .search .search-ico {
    position: relative;
    left: 35px;
    top: 5px;
    height: 18px;
    width: 18px;
}

.common-header .search .search-inp {
    display: inline-block;
    height: 28px;
    width: 312px;
    border-radius: 30px;
    border: none;
    outline: none;
    text-indent: 32px;
    font-size: 14px;
}

.common-header .login {
    display: inline-block;
    height: 18px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 4px;
    background: url(../img/login.png) no-repeat left center;
}


/*common aside 部分*/

.common-aside {
    float: left;
    width: 20%;
    height: 1200px;
    background: #2a2e3d;
}

.common-aside .avator-wrap {
    position: relative;
    width: 100%;
    height: 150px;
}

.common-aside .avator-wrap .avator {
    float: left;
    margin-left: 45px;
    margin-top: 18px;
}

.common-aside .avator-wrap .username {
    float: left;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 16px;
    color: #fff;
}

.common-aside .user-count {
    margin-top: 24px;
    margin-left: 34px;
    height: 28px;
    /*width: 168px;*/
    text-align: center;
}

.common-aside .user-count .fans-count, .common-aside .user-count .favor-count {
    float: left;
    padding: 0 32px;
    font-size: 12px;
    color: #6e8095;
}

.common-aside .user-count .favor-count {
    border-right: 2px solid #6e8095;
}


/*common aside  menu-list部分*/


/*设置根ul 的默认字体颜色和大小*/

.common-aside .menu-list a {
    font-size: 12px;
    color: #6e8095;
}


/* 无效
	设置整个menu-list 距离avator 15px
.common-aside  .menu-list {
	margin-top: 15px;
	} */


/*
-------------------------------------------------------
为了达到设计稿中的背景覆盖面 ，不使用ul的margin
而是使用.menu-item 的padinng来增加每一个根list的background覆盖面
下面一些列选择器的设置都是为了下一步方便后端进行循环
----------------------------------------------------------
*/

.common-aside .menu-list .menu-item {
    padding-left: 45px;
    /*增加左边的覆盖面*/
    padding-top: 15px;
    /*增大根list之间的间距*/
    padding-bottom: 15px;
    /*1.同上2.增加根list的下边的覆盖面*/
}


/*设置子ul列表的左边距 和上边距*/

.common-aside .menu-list [class*="menu-list-"] {
    margin-left: 25px;
    margin-top: 20px;
}


/*设置 子列表下的li.item 的下边距*/

.common-aside .menu-list [class*="menu-list-"]>li {
    margin-bottom: 20px;
}


/*设置 最后一个子列表下的最后一个li.item 的下边归零，实现排版目的*/

.common-aside .menu-list [class*="menu-list-"]:last-of-type>li:last-of-type {
    margin-bottom: 0px;
}


/* 无效
.common-aside .menu-list .menu-item{
	margin-bottom: 20px;
    }  */


/*设置根list.menu-item 的 padding 给图标留下位置*/

.common-aside .menu-list>li>.menu-item-title {
    padding-left: 25px;
}


/*设置子menu-list-* 的padding 给图标留下位置*/

.common-aside .menu-list [class*="menu-list-"] .menu-item-title {
    padding-left: 16px;
}


/*设置子menu-list-* 下的a.ico-folder的padding 给两个图标留下位置*/

.common-aside .menu-list [class*="menu-list-"] .ico-folder {
    padding-left: 32px;
}


/*通过直接后代选择器,设置被'激活' 的根li.menu-item元素的背景高亮显示*/

.common-aside .menu-list>li.active {
    background: #383d4e;
}


/*--------------------------------------------------------
通过选择器的多重组合 精确定位被标记为.active的子元素.menu-item-title，使其高亮显示
-------------------------------------------------------*/

.common-aside .menu-list .active>.menu-item-title {
    color: #fff;
    background-position: 0 -16px, 16px -16px;
    /*注意这里的两个位置信息，如果没有两个backgroud-image 则默认忽略掉多余的,这个特性可以节省代码*/
}


/*定义列表项的图标为背景图像 都包裹在<a></a>标签下*/

.common-aside .menu-list .ico-report {
    background: url(../img/aside-report-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-folder {
    background: url(../img/aside-folder-arrow-ico.png) no-repeat 0 -2px, url(../img/aside-folder-ico.png) no-repeat 16px -2px;
}

.common-aside .menu-list .ico-file {
    background: url(../img/aside-file-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-favor {
    background: url(../img/aside-favor-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-share {
    background: url(../img/aside-share-ico.png) no-repeat 0 -2px;
}

.common-aside .menu-list .ico-account {
    background: url(../img/aside-account-ico.png) no-repeat 0 -2px;
}


/*main 部分*/

.index-main {
    position: relative;
    float: left;
    width: 80%;
    height: 1200px;
    background: #eee;
}

.index-main .index-nav {
    width: 100%;
    height: 32px;
    background: #fff;
}

.index-main .index-nav .nav-title {
    margin-left: 30px;
    font-size: 12px;
    color: #aaa;
    line-height: 32px;
}

.index-main .index-nav .nav-title a {
    color: #aaa;
}

.index-main .index-nav .nav-title a:hover {
    color: #d04b37;
}

.index-main .index-nav .nav-title .mark-now {
    color: #6898c2;
}

.index-main-wrap {
    width: 890px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}



/*index search info 部分*/

.index-search-info {
    margin-bottom: 10px;
    height: 55px;
    border: 1px solid #ccc;
    padding: 15px;
    background: #fff;
    color: #aaa;

    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.option-wrap {
    position: relative;
    float: left;
    margin-right: 30px;
}


.option-wrap select, 
.option-wrap input{
    box-sizing: border-box;

    width: 120px;
    height: 25px;
  
    margin:0 15px 5px 15px;
    border: 1px solid #ccc;

    text-indent: 0.5em;
}

.label-option .short{
    width: 70px;
}


.ico-replace {
    position: absolute;
    top: 11px;
    right: -12px;
    width: 28px;
    height: 38px;
    background: url(../img/index-main-replace.png);
}


.index-search-info .btn-search {
    margin-top: 12.5px;
    width: 50px;
    height: 25px;
    color: #fff;
    background: #2189bf;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/*index-search-history 部分*/

 .index-search-history {
    /*width: 100%;
    height: 65px;
    background: transparent;*/
} 

/*设置整体模块左浮动*/

.index-search-history .navbar, 
.index-search-history .navbar .navbar-item, 
.index-search-history .navbar a, 
.index-search-history .history-search {
    float: left;
}

/*设置模块通用属性*/

.index-search-history .navbar a, 
.index-search-history .navbar .navbar-item, 
.index-search-history .history-search {
    box-sizing: border-box;
    height: 65px;
    margin-right: 5px;
    box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top:4px solid #fff;/*设置这冗余的border-top 用于解决hover状态 文字位置改变问题*/
    background-color: #fff;
    text-align: center;
}

.index-search-history .navbar .active{
  border-top: 4px solid #4388c9;
}

.navbar .navbar-item:hover{
  border-top: 4px solid #4388c9;
}

/*单独设置每种模块的宽度*/

.index-search-history .navbar .navbar-item {
    width: 110px;
}

.index-search-history .navbar [class^="navbar-arrow"] {
    border-top: none;
    width: 30px;
}

.index-search-history .history-search {
    width: 130px;
    margin-right: 0;
}

/*设置 navbar-item 的样式*/

.navbar .navbar-item h4{
  margin-top: 10px;
  font-size: 12px;
  color: #323333;
}

.navbar .navbar-item p{
  margin-top: 10px;
  font-size: 21px;
  color: #ec6500;
}
.navbar .navbar-item p .unit{
  font-size: 12px;
  color: #ccc;
}


.navbar a.navbar-arrow-l{
  background: #fff url(../img/index-main-arrow-l.png) no-repeat center;

}
.navbar a.navbar-arrow-r{
  background: #fff url(../img/index-main-arrow-r.png) no-repeat center;
}

.index-search-history .history-search {
  line-height: 65px;
  background: #fff url(../img/index-main-history.png) no-repeat 20px 50%;
}

.index-search-history .history-search p{
  float: left;
  margin-left: 62px;
}

/*index-report-count 部分*/

.index-report-count .count-title{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.index-report-count .count-item{
  float: left;
  box-sizing: border-box;
  margin-right: 30px;
  width: 200px;
  height: 70px;
  box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
  border: 1px solid #ccc;
  background-color: #fff;
}

.index-report-count .count-item:nth-of-type(1){
  border-left: 4px solid #43b29e;
}
.index-report-count .count-item:nth-of-type(2){
  border-left: 4px solid #388ac1;
}
.index-report-count .count-item:nth-of-type(3){
  border-left: 4px solid #d04b36;
}
.index-report-count .count-item:nth-of-type(4){
  margin-right: 0;
  border-left: 4px solid #e2cd47;
}

.index-report-count .count-item .count-item-title{

  margin-left: 8px;
  margin-top: 20px;

  font-size: 12px;
  color: #323333;
}
.index-report-count .count-item .count-item-content{

  margin-top: 12px;
  margin-left: 8px;

  font-size: 10px;
  color: #aaa;
}
.index-report-count .count-item .ico-box{
  float: right;
  width: 60px;
  height: 42px;

  margin-right: 15px;
  margin-top: 10px;
}

.index-report-count .count-item:nth-of-type(1) .ico-box{
  background: #43b29e;
}
.index-report-count .count-item:nth-of-type(2) .ico-box{
  background: #388ac1;
}
.index-report-count .count-item:nth-of-type(3) .ico-box{
  background: #d04b36;
}
.index-report-count .count-item:nth-of-type(4) .ico-box{
  background: #e2cd47;
}

/*index project view 部分*/

.index-project-view {
  float: left;
  box-sizing: border-box;
  width: 530px;
  height: 355px;
  
  margin-top: 15px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-project-view .project-title{
  height: 40px;
  
  padding-left: 20px;
  
  line-height: 40px;

  font-size: 12px;
  font-weight: normal;
  color: #aaa;

  background-color: #f4f5f7;
}

.index-project-view .project-content{
    margin: 42px 20px 0 20px;
}

.project-content .project-nav{
  margin-top: -30px;
  margin-left: -1px;
}

.project-content .project-nav-tab{
    display: inline-block;
    box-sizing: border-box;
    width: 85px;
    height: 30px;
    
    margin-right: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
    
    line-height: 30px;
    text-align: center;

    background-color: #ededed;
}
.project-content .project-nav .active{
  background-color: #fff;
}

.project-content .project-nav-tab:hover{
  background-color: #fff;
}

.project-content .table-wrap{
    border: 1px solid #ccc;
}
/*displa:table 默认不显示border 所以包裹一个wrap层显示border*/
.project-content .project-table{
    margin:30px auto;
    text-align: center;
    /*border: 1px solid #ccc;*/ 
}

.project-content .project-table tbody{
    vertical-align: center
    border: 1px solid #ccc;
}

.project-table tr,
.project-table td{
    box-sizing: border-box;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
}

.project-table td:hover{
  background-color: #f4f5f6;
}
.project-table .active{
  background-color: #f4f5f6;
}

/*index calender 部分*/

.index-calender{
  float: left;
  box-sizing: border-box;
  width: 350px;
  height: 355px;

  margin-top: 15px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-calender .calender-title{
  height: 40px;

  padding-left: 20px;
  
  line-height: 40px;

  font-size: 12px;
  font-weight: normal;
  color: #aaa;

  background-color: #f4f5f7;
}

.index-calender .date-select{
    width: 310px;
    margin:10px auto;
}

.index-calender .date-select select,
.index-calender .date-select button{
    display: inline-block;
    width: 24%;
    height: 20px;
    border: 1px solid #a9a9a9;
}

.index-calender .date-select .btn-today{
  box-sizing: border-box;
  
  outline: none;
  background: #fff;
  cursor: pointer;
}

.index-calender .date-select .btn-today:hover{
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /*background: #aaa;*/
}
.index-calender .date-select .btn-today:active{
  border: 1px solid #a9a9a9;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  /*background: #666;*/
}
.index-calender .calender{
  width: 310px;
  margin:10px auto;
}
.index-calender .calender .calender-week{
  border-top: 1px solid #a9cfec;
  border-bottom: 1px solid #ccc;
}

.index-calender .calender th{
  width: 40px;
  height: 30px;
}

.index-calender .calender td{
  width: 40px;
  height: 40px;
  text-align: center;
}
.index-calender .calender th,
.index-calender .calender td{
  box-sizing: border-box;
  /*border: 1px solid #fff;*/
}
.index-calender .calender td h4{
  margin-bottom: 5px;
}

/*.index-calender .calender th:hover,*/
.index-calender .calender td:hover{
  outline: 1px solid #f7d155;
  background-color: #f4f5f7;
}

/* index charts 部分 */

.index-charts{
  float: left;
  box-sizing: border-box;
  width: 530px;
  height: 355px;

  margin-top: 15px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: -3px 3px 7px -4px rgba(0, 0, 0, .6);
}

.index-charts .charts-title{
  height: 40px;

  padding-left: 20px;
  
  line-height: 40px;

  font-size: 12px;
  font-weight: normal;
  color: #aaa;

  background-color: #f4f5f7;
}

.index-charts .charts{
  margin: 12px auto;
  border: 1px solid #ccc ;
  text-align: center;
}

.index-charts .charts th,
.index-charts .charts td{
  height: 25px;
}

.index-charts .charts tr:hover{
  background-color: #f4f5f7;
}
.index-charts .charts .rank,
.charts tbody tr> td:nth-of-type(1){
  width: 70px;
}

.index-charts .charts .brand,
.charts tbody tr> td:nth-of-type(2){
  width: 90px;
}
.index-charts .charts .index-number,
.charts tbody tr> td:nth-of-type(3){
  width: 290px;
  text-align: left;
  text-indent: 30px;
}




.index-charts .charts .range-panel{
  display: inline-block;
  width: 170px;
  height: 5px;
  background-color: #ccc;
  margin-left: 17px;
}

.charts tbody tr:nth-of-type(even) .range{
  width: 95%;
  height: 5px;
  background-color: #ff6666;
}
.charts tbody tr:nth-of-type(odd) .range{
  width: 75%;
  height: 5px;
  background-color: #33ccff;
}

